
.site a { color:#848484; font-size:13px; }

.unbBox > .member a { color:#848484; font-size:13px; }

.language dd > a { color:#848484; font-size:13px; }

.gnbWrap li dt > a { color:#202023;}

.gnbWrap dt > a { font-size:16px; color:#202023;}

.gnbWrap dd > a { color:#848484; font-size:13px; }
